  nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav {
    margin: 0 auto;
    
}
nav ul {
position: relative;
background:#2E8B57;
margin: 0px;
padding: 0px;

}
  

nav ul li {
  display: inline-block;
  }
  nav ul li:hover {
      background-color: black;
    }
      nav ul li:hover a {
        color: black;
        background:white;/*<--white-->*/
      }
    
    nav ul li a {
      text-decoration: none;
  color: white;
  padding: 30px;
  display: block;
    }

nav ul ul {
    background: lightgreen; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
  }
    nav ul ul li {
      display:block;
  background:white;
    }
      nav ul ul li a {
        padding: 15px 20px;
        color: #fff;
      } 
        nav ul ul li a:hover {
          background: lightgreen;
        }

    nav ul ul ul {
    position: absolute; left: 100%; top:0;
   }
   #r{
    
     height:1cm;
     width: 94%;
   }

/*Classes usadas pro acesso rápido*/
.col-box-item-acesso-rapido {
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  width: 100%;
  height: 75px;
  padding-top: 18px;
  padding-left: 12px
}

.col-box-item-acesso-rapido .img-slide-ar{
  margin-right: 10px;
  height: 45px;
  max-width: 50px;
}
